body {
    font-family: sans-serif;
    background-color: #adadad;
    line-height: 1.5;
    font-size: 0.875rem;
    margin: auto;
}

#headline {
    margin-left: 50px;
    color: brown;
    padding-left: 30px;
    margin-left: 430px;
}

.nav-bar {
    display: flex;
    margin: auto;
    margin-top: 5px;
    background-color: rgb(238, 237, 235, 0.6);
    border: black 3px solid;
    border-radius: 9px;
    padding: 2px 10px;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    padding-left: 30px;
    margin-right: 430px;
}

.nav-bar li {
    font-size: x-large;
    margin-right: 30px;
    color: black;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: brown;
    font-weight: bold;
}

#content {
    display: block;
    text-align: center;
    background-color: black;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    color: white;
    border-radius: 15px;
}

#btn {
    margin: auto;
    width: 10%;
    display: block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #3a5f7c;
    height: 48px;
}

#btn:active {
    border: 2px solid black;
}