* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.quizcontainer{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.q-n-a{
    background: white;
    border: 2px solid black;
    padding: 20px;
    height: 700px;
    width: 800px;
}

.header{
    text-align: center;
}

.question{
    margin-top: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px black;
}

#question1{
    margin-top: 50px;
}

#question2{
    margin-top: 50px;
}

#question3{
    margin-top: 50px;
}


.question-card{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

.answer{
    visibility: hidden;
    height: 0;
    z-index: -10;
}

.showanswer{
    visibility: visible;
    height: auto;
    z-index: 10;
    text-align: center;
    font-size: 20px;
}

.close-btn {
  display: none;
}

.showanswer .close-btn {
  display: inline;
}

.showanswer .open-btn {
  display: none;
} 

.question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  .question-btn:hover {
    transform: rotate(90deg);
  }