*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: lightyellow;
}

.title{
    background-color: bisque;
    width: auto;
    text-align: center;
    padding: 34px;
    border-bottom: black solid;
}

#header {
    color: brown;
    font-size: 30px;
}

.button-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button{
    margin: 7px;
    border: 3px solid;
    border-radius: 10px;
}   

button:hover{
    box-shadow: 2px 2px;
}

button:active{
    transform: scale(1.01);
}

.result{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

#user-score, pc-score{
    display: inline;
}

